header {
    display: flex;
    padding: 1rem;
}

div#timer-div {
    flex: 1;
    font-family: 'Courier New', Courier, monospace;
}

div#high-score-div {
    flex: 1;
    text-align: end;
}

p.timer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}

p.high-score {
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color:magenta;
}

div#start-container {
    padding-right: 3rem;
    padding-left: 3rem;
}

div#start-container h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

div#start-container p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

button#start-btn {
    margin: 0 auto;
    display: block;
    background-color: rgb(211, 0, 211);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: medium;
    color: white;
    padding: 0.5rem;
    border-radius: 25px;
    border-color: transparent;
};


button#start-btn:hover {
    color: rgb(211, 0, 211);
    background-color: white;
    border-color: rgb(211, 0, 211);
}

div#quiz-container {
    align-items: center;
    padding-right: 3rem;
    padding-left: 3rem;
    margin: auto;
    width: 55%;
};

div#quiz-container h2 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div#choices-container {
    width: 50%;
}

button.choice-btn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-color: transparent;
    font-weight: bold;
    font-size: medium;
    color: white;
    padding: 0.5rem;
    border-radius: 10px;
    margin: 0.2rem;
    width: 20rem;
}

button.neutral{ 
    background-color: rgb(116, 0, 211);
}

button.neutral:hover {
    color: rgb(116, 0, 211);
    background-color: white;
    border-color: rgb(211, 0, 211);
}

button.correct {
    background-color: green;
}

button.incorrect {
    background-color: red;
}

div#stat-container {
    border-top: solid 0.1rem black;
    margin-top: 1rem;
    padding-top: 1rem;
    display: flex;
}

div#correct-stat-container {
    flex: 1;
    padding: 0;
}

div#high-score-container {
    height: 20rem;
    overflow-y:auto;
}

h3#indicator {
    margin-top: 0.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div#next-btn-container {
    flex: 1;
    text-align: end;
}

button#next-btn {
    display: block;
    margin-left:auto;
    margin-right: 0;
    background-color: rgb(211, 0, 211);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: medium;
    color: white;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0.6rem;
    padding-left: 0.6rem;
    border-radius: 15px;
    border-color: transparent;
}

button#back-btn {
    background-color: rgb(211, 0, 211);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    margin: 0.7rem;
    padding: 0.2rem;
    border-radius: 10px;
    border-color: transparent;
}

button#back-btn:hover {
    color: rgb(250, 0, 250);
    background-color: white;
    border-color: rgb(250, 0, 250);
}

button#next-btn:hover {
    color: rgb(250, 0, 250);
    background-color: white;
    border-color: rgb(250, 0, 250);
}

button:disabled {
    background-color: grey;
}
